
  body {
    font:16px/1.5 Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #edd8d8;
    padding: 20px;
    margin: 100px 100px 75px 100px;
}


#buttons {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8cc4d6; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 16px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

#buttons:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
